# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Data (no subir datos pesados)
data/

# OS
.DS_Store
*.egg-info/

# Archivos de prueba locales
src/fondosdepensiones/prueba.py

# VSC
.vscode/

# JSON
lista_archivos_csv.json

# setuptools build artifacts
*.egg-info/
