# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Data (no subir datos pesados)
data/

# OS
.DS_Store
*.egg-info/

# Archivos de prueba locales
src/fondosdepensiones/prueba.py.vscode/
